@font-face {
  font-family: 'iran';
  src: url('./fonts/Yekan-Bakh-FaNum-05-Medium.eot') format('eot');
  src : url('./fonts/Yekan-Bakh-FaNum-05-Medium.ttf') format('truetype'),
  url('./fonts/Yekan-Bakh-FaNum-05-Medium.woff') format('woff');
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;

}

body {
  direction: rtl;
  font-family: 'iran'!important;
  font-size: 16px;
  
}



